/Chromosome.class
/Constraints.class
/Gene.class
/GeneticAlgorithm.class
/Module.class
/course.class
/Course.class
/Preferences.class
/Preference.class
/Profesor.class
/Faculty.class
/SemesterSchedule.class
/Timetable.class
/Timeslots.class
/Timeslot.class
